@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

#screen {
    margin: 0px;
    position: relative;
    font-family: Rubrik Moonrocks, cursive;
    width: 100%;
    height: 700px;
    outline: 2px solid black;
}

#background-sheet {
    margin: 0px;
    position: absolute;
    font-family: Rubrik Moonrocks, cursive;
    width: 100%;
    height: 95%;
    float: right;
    z-index: -1;
}

#first {
    position: relative;
    display: flex;
    margin: 8px;
    max-width: 250px;
    flex-wrap: wrap;
}

.a1 {
    position: relative;
    min-width: 50px;
    margin: 2%;
    font-family: Rubrik Moonrocks, cursive;
    color: rgb(0, 125, 255);
    height: 50px;
    padding: 4px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
}

#second {
    position: relative;
    float: left;
    margin: 8px;
    height: 50px;
    min-width: 50px;
    display: flex;
    flex-wrap: wrap;
}

#id-b1 {
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
    font-family: Rubrik Moonrocks, cursive;
    padding: 4px;
    margin: 6px;
}

#id-b2 {
    outline: none;
    padding: 4px;
    margin: 6px;
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
    font-family: Rubrik Moonrocks, cursive;
}

#volume-panel {
    width: 125px;
    border: none;
    z-index: 2;
}

.hvr:hover {
    transition-duration: 1s;
    transition-delay: 0.2s;
    color: rgb(0, 125, 255);
    box-shadow: 2px 2px 2px 2px black, -0.5px -0.5px 0.5px 0.5px white;
    border-radius: 3px;
}

.hvr:focus {
    transition-duration: 1s;
}

#vol-name {
    font-family: Rubrik Moonrocks, cursive;
    margin: 2px;
    padding: 2px;
    width: 54px;
}

.vol {
    position: relative;
    height: 20px;
    top: -25px;
    background-color: none;
    border: 1px solid darkblue;
    border-radius: 4px;
    float: right;
    background-color: rgba(255, 255, 255, 0.3);
    width: 20px;
    margin: 6px;
}

.vol:hover {
    color: rgb(255, 255, 255);
    border-radius: 50%;
    transition-duration: 1s;
    background-image: linear-gradient(to bottom right, rgb(0, 125, 255), rgb(0, 150, 255), rgb(0, 200, 225), rgb(0, 50, 255), rgb(0, 200, 200));
}

#vol-bar {
    width: 116px;
    height: 8px;
    margin: 4px;
    background-color: rgba(255, 255, 255, 0.4);
    border: 2px solid darkblue;
    border-radius: 4px;
}

#third {
    position: relative;
    margin: 8px;
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
    float: right;
    width: 410px;
    height: 50px;
    top: -140px;
}

#recent {
    position: relative;
    margin-left: 150px;
    height: 25px;
    width: 50px;
}

.span-tag {
    position: relative;
    margin-right: 10px;
}

@media (max-width: 660px) {
    #second {
        position: relative;
        top: 0px;
        width: 50%;
        height: 100px;
        float: right;
    }
    #third {
        width: 300px;
    }
}

@media (max-width: 300px) {
    #second {
        position: relative;
        top: 100px;
        width: auto;
    }
    #volume-panel {
        width: 90%;
        margin: 4px;
    }
    #third {
        width: 95%;
        height: auto;
    }
}

@media (min-width: 840px) {
    #third {
        top: -75px;
    }
}